<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/login.css">
</head>

<body>
    <nav class="navbar">
        <div class="menu">
            <a href="/index.html">Home</a>
            <a href="/login.html">Login</a>
            <a href="/register.html">Register</a>
        </div>
    </nav>

    <div class="auth-container">
        <div class="left">
            <h2 id="formTitle">Login</h2>
            <form id="authForm">
                <div>
                    <input type="email" id="email" placeholder="Enter email" required>
                </div>
                <div>
                    <input type="password" id="password" placeholder="Enter password" required>
                </div>
                <div class="remember-me">
                    <input type="checkbox" id="rememberMe">
                    <label for="rememberMe">Remember Me</label>
                </div>
                <button type="submit">Submit</button>
                <p id="toggleForm">Don't have an account? <a href="/register.html" id="toggleRegister">Register</a></p>
                <p id="message"></p>
            </form>
        </div>

        <div class="right">
            <img src="/uploads/img3.png" alt="Login Image">
        </div>
    </div>

    <script src="app.js"></script>
</body>

</html>