<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/public/reg.css">
</head>

<body>
    <nav class="navbar">
        <div class="menu">
            <a href="/index.html">Home</a>
            <a href="/login.html">Login</a>
            <a href="/register.html">Register</a>
        </div>
    </nav>

    <div class="auth-container">
        <div class="left">
            <img src="/uploads/img2.png" alt="Welcome Image">
        </div>

        <div class="right">
            <h2 id="formTitle">Register</h2>
            <form id="authForm">
                <div id="usernameField">
                    <input type="text" id="username" placeholder="Enter username" required>
                </div>
                <div>
                    <input type="email" id="email" placeholder="Enter email" required>
                </div>
                <div>
                    <input type="password" id="password" placeholder="Enter password" required>
                </div>
                <button type="submit">Submit</button>
                <p id="toggleForm">Already have an account? <a href="/login.html" id="toggleLogin">Login</a></p>
                <p id="message"></p>
            </form>
        </div>
    </div>

    <script src="app.js"></script>
</body>

</html>